.pagination {
    display: flex;
    justify-content: space-between;
    width: clamp(200px, 50vw, 350px);
    margin: 10px auto;
    gap: 10px;
}
.pagination button {
    flex: 1;
    padding: 8px 12px;
    background: #1fb9b9;
    color: #01012c;
    border-radius: 5px;
    border: none;
    font-size: clamp(14px, 1.5vw, 18px);
    cursor: pointer;
    transition: 0.2s;
}
.pagination button:not(:disabled):hover {
    transform: scale(1.03);
}
.pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}