.pagination {
    display: flex;
    gap: 10px;
}

.button {
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: clamp(14px, 1.5vw, 18px);
    cursor: pointer;
    transition: 0.2s;
}

.button:not(:disabled):hover {
    transform: scale(1.03);
}

.button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.active {
    background-color: #77628c;
}