.pagination{
    display: flex;
    justify-content: space-between;
    width: clamp(200px, 50vw, 350px);
    gap: 10px;
    position: sticky;
    bottom: 5px;
}
.pagination button{
    flex: 1;
    padding: 8px 12px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border-radius: 5px;
    border: none;
    font-size: clamp(14px, 1.5vw, 18px);
    cursor: pointer;
    transition: 0.2s;
}
.pagination button:not(:disabled):hover {
    transform: scale(1.03);
}
.pagination button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
}
