.stars {
    display: flex;
    gap: 2px;
    justify-content: center;
}

.star {
    width: 30px;
    height: 30px;
    clip-path: polygon(
            50% 0%,
            61% 35%,
            98% 35%,
            68% 57%,
            79% 91%,
            50% 70%,
            21% 91%,
            32% 57%,
            2% 35%,
            39% 35%
    );
}

.full {
    background: gold;
}

.half {
    background: linear-gradient(90deg, #ddc316 50%, #2f2e2e 50%);
}

.star.empty {
    background: #2f2e2e;
}