.movie {
    max-width: 200px;
    width: 200px;
    height: 100%;
    cursor: pointer;
    position: relative;
    color: white;

    img {
        border-radius: 0.2rem;
        width: 100%;
        height: 100%;
        z-index: 10;
    }
    .hover{
        z-index: 90;
        height: max-content;
        width: 15rem;
        position: absolute;
        top: -5vh;
        left: 0;
        border-radius: 0.3rem;
        box-shadow: rgba(0,0,0,0.75) 0 3px 10px;
        background-color: #181818;
        transition: 0.3s ease-in-out;
        .imgContainer {
            position: relative;
            height: 140px;
            img {
                width: 100%;
                object-fit: cover;
                border-radius: 0.3rem;
                top: 0;
                z-index: 4;
                position: absolute;
            }
        }
        .infoContainer{
            padding: 1rem;
            gap: 0.5rem;
            display: flex;
            flex-direction: column;
        }
        svg{
            font-size: 2rem;
            cursor: pointer;
            transition: 0.3s ease-in-out;
            &:hover{
                color: #b8b8b8;
            }
        }
    }
    .genres{
        ul{
            gap: 1rem;
            li{
                padding-right: 0.7rem;
                &:first-of-type{
                    list-style-type: none;
                }
            }
        }
    }
}
/*.rating{*/
/*    !*background-color: rgba(131, 243, 4, 0.84);*!*/
/*    background-color: rgba(255, 255, 255, 0.7);*/
/*    color: black;*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    font-weight: bold;*/
/*    left: 20px;*/
/*    top: 10px;*/
/*    height: 25px;*/
/*    width: 30px;*/
/*    border-radius: 5px;*/
/*}*/
