.movie {
   width: 210px;
    position: relative;
    cursor: pointer;
    overflow: visible;
    margin: 8px;
}


.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.hover {
    position: absolute;
    top: -20px;
    left: -40px;
    height: 280px;
    width: 300px;
    z-index: 999;
    background-color: #181818;
    border-radius: 0.5rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.imgContainer {
    height: 195px;
}

.infoContainer {
    padding-left: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    color: white;
}

.title {
    font-size: 15px;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    font-size: 13px;
}

/*@media (max-width: 900px) {*/
/*    .movie {*/
/*        width: calc(33.33% - 10px);*/
/*    }*/
/*    .title {*/
/*        height: 10%;*/
/*        font-size: clamp(14px, 2vw, 16px);*/
/*    }*/
/*}*/

/*@media (max-width: 550px) {*/
/*    .movie {*/
/*        width: calc(50% - 10px);*/

/*    }*/
/*    .title {*/
/*        height: 10%;*/
/*        font-size: clamp(12px, 2vw, 16px);*/
/*    }*/

/*}*/
