body{
    margin: 0;
    overflow-x: hidden;
}
.content{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.filters{
    width: 60%;
    margin: 10px auto;
}
.Movies {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.paginationWrapper {
    width: 60%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}