.movie {
    width: calc(20% - 10px);
    /*margin-bottom: 10px;*/
    margin: 5px;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    position: relative;
    /*border: #443f4f solid 1px;*/
}
.img {
    width: 100%;
    height: 80%;
    aspect-ratio: 2/3;
    object-fit: cover;
}
.title {
    height: 20%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.rating{
    background-color: rgba(131, 243, 4, 0.84);
    color: black;
    font-size: 20px;
    position: absolute;
    font-weight: bold;
    left: 20px;
    top: 10px;
    height: 25px;
    width: 30px;
    border-radius: 5px;
}
@media (max-width: 900px) and (min-width: 551px) {
    .movie {
        width: calc(33.33% - 10px);
    }
    .title {
        height: 10%;
        font-size: clamp(14px, 2vw, 17px);
    }
}

@media (max-width: 550px) {
    .movie {
        width: calc(50% - 10px);
    }
    .title {
        height: 10%;
        font-size: clamp(12px, 2vw, 16px);
    }

}