.movie {
    width: calc(20% - 10px);
    margin: 10px 0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*height: 500px;*/
}

.img {
    width: 90%;
    height: 80%;
    object-fit: cover;
}
.title {
    width: 100%;
    height: 10%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    font-size: clamp(13px, 2.2vw, 18px);
}
.stars{
    height: 10%;
    width: 90%;
}

@media (max-width: 550px) {
    .movie {
        width: calc(50% - 10px);

    }
    .img {
        height: auto;
        max-height: 150px;
    }

    .title {
      height: 30%;
    }
    .stars{
        height: 10%;
        width: 90%;
    }
}
