.container {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.firstPart,
.secondPart {
    display: flex;
    flex-direction: column;
    width: 45%;
    min-width: 300px;
}

.secondPart {
    align-items: center;
    justify-content: center;
}

.moviePoster {
    width: 100%;
    max-width: 450px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.details {
    text-align: start;
    font-size: clamp(18px, 2.2vw, 26px);
    line-height: 1.5;
}

.genres {
    font-size: clamp(20px, 2.5vw, 30px);
    word-spacing: 10px;
}

.movieDescription {
    display: flex;
    justify-content: center;
    max-width: 750px;
        font-size: clamp(16px, 2vw, 25px);
    line-height: 1.5;
}

.images {
    height: 120px;
    width: 200px;
    margin: 5px;
    object-fit: cover;
}

.actors {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    border-radius: 6px;
}

