.movie {
    width: calc(20% - 10px);
    margin: 10px 0;
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 450px;
}

.img {
    width: 90%;
    height: 80%;
    aspect-ratio: 2/3;
    object-fit: cover;
}
.title {
    height: 10%;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
@media (max-width: 900px) and (min-width: 551px) {
    .movie {
        width: calc(33.33% - 10px);
    }
    .title {
        font-size: clamp(14px, 2vw, 17px);
    }
}

@media (max-width: 550px) {
    .movie {
        width: calc(50% - 10px);
    }
    .title {
        font-size: clamp(12px, 2vw, 16px);
    }

}
