.container {
    width: 60%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 30px auto;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 10px;
}
.genres, .years, .rating{
    text-align: center;
    width: 25%;
    font-size: clamp(12px, 2.2em, 18px);
    /*background-color: #504b5e;*/
    border-radius: 10px;
}
option{
    background-color: rgba(0, 0, 0, 0.58);

}