.sort {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.sort>div{
    height: 15vh;
    width: calc(23% - 10px);
    margin: 10px;
    font-size: clamp(18px, 2.5vw, 35px);
}