.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: white;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: bold;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
    padding: 15px 30px;
}
.nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: white;
}
.photo{
    height: auto;
    width: clamp(30px, 6vw, 50px);

}
.light{
    background-color:#b8e6e3;
    color: #01012c;
}
.dark{
    background-color: #443f4f;
    color: #b8ee16;
}
.icon{
    height: 4.5rem;
    width: 5rem;
}

.header:not(.scrolled) {
    background-color: rgba(0,0,0,0.3);
}

/* коли почався скрол */
.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
}