.header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5vh;
    color: white;
    font-size: clamp(12px, 2vw, 20px);
    font-weight: bold;
    cursor: pointer;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
    padding: 15px;
}
.nav{
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header a{
    text-decoration: none;
    color: white;
}
.photo{
    height: auto;
    width: clamp(30px, 6vw, 50px);

}
.light{
    background-color:#b8e6e3;
    color: #01012c;
}
.dark{
    background-color: #443f4f;
    color: #b8ee16;
}
.icon{
    height: 4.5rem;
    width: 5rem;
}

.header:not(.scrolled) {
    background-color: rgba(0,0,0,0.8);

}

.scrolled {
    background-color: rgba(0, 0, 0, 0.9);
    backdrop-filter: blur(8px);
}
@media (max-width: 600px) {
    .header {
        display: none;
    }
}

/*mobile Version*/
.section{
    height: 56px;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(24px);
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 40;
}

@media (min-width: 601px) {
    .section {
        display: none;
    }
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    color: #a3a3a3;
}

.link {
    padding: 0 5px;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    color: inherit;
}

.active {
    color: #ffffff;
}

.iconM {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

.label {
    font-size: 0.875rem;
    margin: 0;
}