.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #504b5e;
    color: #b8ee16;
    font-size: 25px;
}
.header a{
    text-decoration: none;
    color: #b8ee16;
}
.photo{
    height: 8vh;
    width: 4vw;
}
.light{
    background-color:#b8e6e3;
    color: #01012c;
}
.dark{
    background-color: #443f4f;
    color: #b8ee16;
}