.player {
    position: relative;
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16/9;
    height: 80%;
}

.player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
.block{
    position: relative;
    overflow: hidden;
}
.arrow{
    height:40px;
    width:40px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 20px;
    z-index: 99;
    background-color: rgba(229,229,229,0.5);
    color: black;
    border-radius: 50%;
}
@media (max-width: 550px) {
    .player {
        aspect-ratio: 16/9;
    }
}