.gallery {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    position: relative;
    overflow: hidden;

    .arrowR {
        width: 50px;
        height: 25%;
        background-color: rgba(80, 75, 94, 0.5);
        position: absolute;
        right: 10px;
        z-index: 60;
        cursor: pointer;
        border-radius: 50%;
    }

    .arrowL {
        width: 50px;
        height: 25%;
        background-color: rgba(80, 75, 94, 0.5);
        position: absolute;
        left: 10px;
        z-index: 60;
        cursor: pointer;
        border-radius: 50%;
    }
}
.inner {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease-in-out;
}
.imageContainer {
    width: 200px;
    height: 150px;
    position: relative;
    flex-shrink: 0;
    z-index: 1;
}

.imageContainer:hover {
    z-index: 50;
}
.images {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.25s ease;
    transform-origin: center;
    will-change: transform;
}

.imageContainer:hover .images {
    transform: scale(1.5);
}
@media (max-width: 1400px){
    .imageContainer{
        width: calc(33% - 10px);
    }
}
@media (max-width: 500px) {
    .imageContainer{
        width: calc(50% - 10px);
    }
}
