.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 0;
    color: white;
    min-height: 50px;
}

.container {
    width: 70%;
    margin: 0 auto;
    gap: 15px;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.general {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    font-size: 16px;
}

.general svg {
    width: 60px;
    height: 60px;
    color: #b8ee16;
}
.linkContainer {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.links {
    display: flex;
    gap: 15px;
}

.links svg {
    color: #f1f1f1;
    font-size: 1.5rem;
    transition: transform 0.2s, color 0.2s;
    cursor: pointer;
}

.links svg:hover {
    color: #b8ee16;
    transform: scale(1.3);
}

@media (max-width: 550px) {
    .container {
        width: 95%;
        height: auto;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        text-align: center;
    }
    .general p {
        max-width: 100%;
    }
    .links svg {
        font-size: 1.2rem;
    }
}