.footer {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px 0;
    color: white;
    height: 150px;
}

.container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.general {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.general svg {
    width: 60px;
    height: 60px;
    color: #b8ee16;
}

.general p {
    max-width: 250px;
    font-size: 16px;
}

.stuck {
    display: flex;
    flex-direction: column;
}

.stuck a {
    text-decoration: none;
    color: #b8ee16;
}

.linkContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.links {
    display: flex;
    gap: 15px;
}

.links svg {
    color: #f1f1f1;
    font-size: 1.5rem;
    transition: transform 0.2s, color 0.2s;
    cursor: pointer;
}

.links svg:hover {
    color: #b8ee16;
    transform: scale(1.3);
}

@media (max-width: 550px) {
    .container {
        width: 95%;
        height: auto;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        text-align: center;
    }

    .general p {
        max-width: 100%;
    }
    .stuck ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        list-style: none;
    }

    .stuck li {
        display: inline-block;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .links svg {
        font-size: 1.2rem;
    }
}