.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.input{
    height: 6vh;
    width: 30vw;
    margin: 10px;
    background-color: #1fb9b9;
    color:#01012c;
    border: none;
    border-radius: 5px;
}
.button{
    height: 6vh;
    width: 10vw;
    background-color: #1fb9b9;
    color: #01012c;
    border: none;
    border-radius: 5px;
}

