.search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.container{
    margin: 10px auto;
}
.input{
    width: clamp(220px, 40vw, 450px);
    margin: 10px;
    background-color: white;
    color:#01012c;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 1.6vw, 18px);
}
.button{
    background-color: white;
    color: #01012c;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 1.6vw, 18px);
    cursor: pointer;
}
.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

