.search{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10vh;

}
.input{
    width: clamp(220px, 40vw, 450px);
    margin: 10px;
    background-color: white;
    color:#01012c;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 1.6vw, 18px);
}
.button{
    background-color: white;
    color: #01012c;
    border: none;
    border-radius: 5px;
    font-size: clamp(14px, 1.6vw, 18px);
    cursor: pointer;
}

