.card {
    width: 100%;
    min-width: 230px;
    max-width: 230px;
    height: 320px; /* h-80 */
    overflow: hidden;
    display: block;
    border-radius: 0.5rem;
    position: relative;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: scale(1.1);
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.noImage {
    background-color: rgb(38, 38, 38); /* neutral-800 */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.info {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    backdrop-filter: blur(24px);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 0.5rem;
    color: white;
}


.title {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.meta {
    font-size: 0.9rem;
    color: rgb(163, 163, 163); /* neutral-400 */
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.rating {
    background-color: black;
    padding: 0.125rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.75rem;
    color: white;
}