.slider {
    display: flex;
    flex-direction: column;
    width: 100%;        /* ✔️ */
    position: relative;
    overflow: hidden;   /* ✔️ */
    height: 300px;
}
.container{
    display: flex;
    flex-direction: row;
    width: 100vw;
    cursor: pointer;
    position: relative;

}
.img{
    border-radius: 0.2rem;
    max-width: 200px;
    width: 180px;
    height: 100%;
    z-index: 10;
    margin: 8px;
    &:hover{
        transform: scale(1.5);
        margin: 0 20px;
        transition: 0.3s ease-in-out;
    }
}

.buttons{
    position: absolute;
    z-index: 99;
    height: 100%;
    top: 0;
    bottom: 0;
    width: 50px;
    transition: 0.3s ease-in-out;
    color: white;
    background-color: rgba(0,0,0,0.5);
    /*background-color: rgba(229,229,229,0.5);*/
}
.left{
    left: 0;
}
.right{
    right: 0;
}

/*.img {*/
/*    border-radius: 0.2rem;*/
/*    width: 180px;*/
/*    height: 100%;*/
/*    margin: 8px;*/
/*    transition: transform 0.3s ease-in-out;*/
/*}*/
