.sliderContainer{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding: 2rem 0;
    h1{
        margin-left: 50px;
    }
}
.wrapper{
    .slider{
        display: flex;
        width: max-content;
        gap: 1rem;
        transform: translateX(0px);
        transition: 0.3s ease-in-out;
        margin-left: 50px;
    }
    .buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        z-index: 99;
        height: 50px;
        border-radius: 50%;
        background-color: white;
        top: 250px;
        bottom: 0;
        width: 50px;
        transition: 0.3s ease-in-out;
        color: #111111;
        svg{
            font-size: 2rem;
        }
    }
    .hidden{
        display: none;
    }
    .left{
        left: 0;
    }
    .right{
        right: 0;
    }

}
