.section {
    width: 100%;
    height: 100vh;
}

.wrapper {
    display: flex;
    min-height: 100%;
    max-height: 95vh;
    overflow: hidden;
    transition: transform 3s ease-in-out;
}

.bannerItem {
    min-width: 100%;
    min-height: 450px;
    overflow: hidden;
    position: relative;
    transition: all;
}

@media (min-width: 1024px) {
    .bannerItem {
        min-height: 100%;
    }
}
.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.buttonsWrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    z-index: 10;
}

.bannerItem:hover .buttonsWrapper {
    display: flex;
}

.button {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    font-size: 1.5rem;
    color: black;
    z-index: 10;
    cursor: pointer;
}

.gradientOverlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #111111, transparent);
}

.details{
    position: absolute;
    bottom: 10px;
    width: 100%;
    max-width: 26rem;
    padding: 0 0.75rem;
    color: white;
    font-size: 1.2rem;
    left: 3rem;
}

.title {
    font-weight: bold;
    font-size: 2.5rem;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.7);
}

.overview {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    margin: 0.5rem 0;
}

.bannerStats {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.playButton {
    background-color: white;
    font-size: 1.3rem;
    color: black;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.playButton:hover {
    background: linear-gradient(to left, #b91c1c, #f97316);
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}